<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lessonInfoMapper">
	<resultMap id="liResultSet" type="LessonInfo">
		<id property="lNo" column="L_NO"/>
		<result property="lTitle" column="L_TITLE"/>
		<result property="lIntroduction" column="L_INTRODUCTION"/>
		<result property="lTarget" column="L_TARGET"/>
		<result property="lYtb" column="L_YTB"/>
		<result property="lRegion" column="L_REGION"/>
		<result property="lRegionSub" column="L_REGION_SUB"/>
		<result property="lRegionDetail" column="L_REGION_DETAIL"/>
		<result property="lCateMain" column="L_CATE_MAIN"/>
		<result property="lCateSub" column="L_CATE_SUB"/>
		<result property="lPrice" column="PRICE"/>
		<result property="lStatus" column="L_STATUS"/>
		<result property="uNo" column="USER_NO"/>
	</resultMap>
	
	<!-- 레슨 인포 인서트 -->
	<insert id="insertLessonInfo" parameterType="LessonInfo">
		INSERT INTO LESSON_INFO VALUES(
		SEQ_LNO.NEXTVAL,#{lTitle},#{lIntroduction},#{lTarget},#{lYtb},
		#{lRegion},#{lRegionSub},#{lRegionDetail},#{lCateMain},#{lCateSub},#{lPrice},#{lStatus},#{uNo}
		)
	</insert>
	
	<!-- 레슨인포 인서트 후 사진을 넣기 위한 레슨인포 번호 리턴 -->
	<select id="selectLNo" parameterType="_int" resultType="_int">
		SELECT MAX(L_NO)
		FROM LESSON_INFO
		WHERE USER_NO = #{uno}
	</select>
	
	<!-- 튜터 수업관리페이지로 갖고 갈 레슨인포 -->
	<select id="selectLIList" parameterType="_int" resultMap="liResultSet">
		SELECT *
		FROM LESSON_INFO
		WHERE USER_NO = #{UNO}
		ORDER BY 1 DESC
	</select>
	
	<!-- 리스트로 뿌려줄 모든 레슨인포 -->
	<select id="selectAllLIList" resultMap="liResultSet" >
		SELECT *
		FROM LESSON_INFO
		ORDER BY 1 DESC
	</select>
	
	<!-- 디테일에 보여줄 하나의 레슨인포 -->
	<select id="selectOneLI" parameterType="_int" resultMap="liResultSet">
		SELECT *
		FROM LESSON_INFO
		WHERE L_NO =#{lNO}
	</select>
	

		
	<!-- 튜터사진을 유저프로픽에서 갖고옴 -->
	<select id="selectTutorPic" parameterType="_int" resultType="String">
	SELECT P.U_C_NAME
	FROM USERPROPIC P,LESSON_INFO I
	WHERE P.USER_NO = I.USER_NO
	AND I.L_NO = #{lNo}
	</select>
	
	<!-- 수업 정보를 업데이트함 -->
	<update id="lessonInfoUpdate" parameterType="LessonInfo">
	UPDATE LESSON_INFO
	SET L_TITLE = #{lTitle}, L_INTRODUCTION= #{lIntroduction}, L_TARGET= #{lTarget},L_YTB= #{lYtb},
		L_REGION = #{lRegion}, L_REGION_SUB = #{lRegionSub}, L_CATE_MAIN = #{lCateMain}, L_CATE_SUB = #{lCateSub},
		PRICE = #{lPrice}
	WHERE L_NO = #{lNo}
	</update>
	

	
	
	
	
	
	<!-- ATTACHMENT -->
	
	<resultMap id="laResultSet" type="LessonAttachment" >
		<id property="laNo" column="LA_NO"/>
		<result property="oName" column="O_NAME"/>
		<result property="cName" column="C_NAME"/>
		<result property="laType" column="LA_TYPE"/>
		<result property="laDate" column="LA_DAY"/>
		<result property="lNo" column="L_NO"/>
	</resultMap>
	

	
	<insert id="insertAttachment" parameterType="LessonAttachment">
		INSERT INTO LESSON_ATTACHMENT VALUES(
		SEQ_LANO.NEXTVAL,#{oName},#{cName},#{laType},SYSDATE,#{lNo}
		)
	</insert>

	<select id="selectLAList" resultMap="laResultSet">
		SELECT A.*
		FROM LESSON_ATTACHMENT A, LESSON_INFO I
		WHERE A.L_NO = I.L_NO
		AND I.L_NO IN (SELECT L_NO
                      FROM LESSON_INFO
                      WHERE USER_NO =#{UNO})
	</select>
	
	
	<select id="selectLAofLI" parameterType="_int" resultMap="laResultSet">
		SELECT * 
		FROM LESSON_ATTACHMENT
		WHERE L_NO= #{lNo}
	</select>
	
	
	
	<update id="updateLessonImg" parameterType="LessonAttachment">
	UPDATE LESSON_ATTACHMENT 
	SET O_NAME = #{oName},
		C_NAME = #{cName},
		LA_DAY = SYSDATE
	WHERE LA_NO = #{laNo}
	</update>
	
	<delete id="deleteLessonImg" parameterType="_int">
	DELETE FROM LESSON_ATTACHMENT
	WHERE LA_NO = #{laNo}
	
	</delete>
	
	<!-- 사진 추가를 위한 최대LA_TYPE을 셀렉 -->
	<select id="selectMaxNum" parameterType="_int" resultType="_int">
	SELECT MAX(LA_TYPE)
	FROM LESSON_ATTACHMENT
	WHERE L_NO = #{lNo}
	</select>
	
	<!-- 사진 추가 -->
	<insert id="addLessonImg" parameterType="LessonAttachment">
		INSERT INTO LESSON_ATTACHMENT VALUES(
		SEQ_LANO.NEXTVAL,#{oName},#{cName},#{laType},SYSDATE,#{lNo}
		)
	</insert>
	
	<!-- 사진 추가후 해당 객체를 보내주기 -->
	<select id="selectAddedImg" parameterType="_int" resultMap="laResultSet">
	SELECT * 
	FROM (SELECT *
	FROM LESSON_ATTACHMENT
	WHERE L_NO=#{lNo}
	ORDER BY LA_TYPE DESC)
	WHERE ROWNUM=1	
	</select>
	





	<!-- lessonTime -->
	
	<resultMap id="lResultSet" type="Lesson" >
		<id property="lInning" column="L_INNING"/>
		<id property="lNo" column="L_NO"/>
		<result property="lDay" column="L_DAY"/>
		<result property="sTime" column="START_TIME"/>
		<result property="eTime" column="END_TIME"/>
		<result property="price" column="PRICE"/>
		<result property="total" column="TOTAL"/>
		<result property="remain" column="REMAIN"/>
	</resultMap>
	


	<insert id="insertLessonTime" parameterType="Lesson">
		INSERT INTO LESSON VALUES((SELECT NVL(MAX(L_INNING),0) FROM LESSON WHERE L_NO=#{lNo})+1,#{lNo},
		#{lDay},#{sTime},#{eTime},
		#{price},#{total},#{total})
	</insert>
	
	<select id="selectLList" parameterType="_int" resultMap="lResultSet">
		SELECT L.*
		FROM LESSON L, LESSON_INFO I
		WHERE L.L_NO = I.L_NO
		AND I.L_NO IN (SELECT L_NO
                      FROM LESSON_INFO
                      WHERE USER_NO =#{UNO})
        ORDER BY 1 DESC              
	</select>
	
	
	<select id="selectTimeofLI" parameterType="_int" resultMap="lResultSet">
		SELECT *
		FROM LESSON
		WHERE L_NO= #{lNo}
		AND START_TIME>SYSDATE
	</select>
	
	


	<insert id="insertUserFav" parameterType="Wish">
	INSERT INTO WISH VALUES( #{user_no},#{l_no},(SELECT NVL(MAX(W_NO),0) FROM WISH WHERE USER_NO= #{user_no})+1,SYSDATE)
	</insert>
	
	<delete id="deleteUserFav" parameterType="Wish">
	DELETE FROM WISH
	WHERE USER_NO = #{user_no}
	AND L_NO = #{l_no}
	</delete>
	
	<select id="checkUserFav" parameterType="Wish" resultType="_int">
	SELECT COUNT(*)
	FROM WISH
	WHERE USER_NO = #{user_no}
	AND L_NO= #{l_no}
	</select>
	
	
	
	
	
	
	<!-- payment -->
	
	
	<select id="checkUserPay" parameterType="Payment" resultType="_int">
		SELECT COUNT(*)
		FROM PAYMENT
		WHERE USER_NO=#{uNo}
		AND L_NO=#{lNo}
		AND PAYMENT_STATUS =3
	</select>
	
	
	<!-- review -->
	
	<resultMap type="LessonReview" id="lrResultset">
		<id property="lNo" column="L_NO"/>
		<id property="uNo" column="USER_NO"/>
		<result property="rContent" column="REVIEW_CONTENT"/>
		<result property="rRating" column="REVIEW_RATING"/>
		<result property="rDate" column="REVIEW_DATE"/>
		<result property="uName" column="USER_NAME"/>
		<result property="uCName" column="U_C_NAME"/>
	</resultMap>
	
	
	<resultMap type="Review" id="rResultSet">
		<id property="lNo" column="L_NO"/>
		<id property="uNo" column="USER_NO"/>
		<result property="rContent" column="REVIEW_CONTENT"/>
		<result property="rRating" column="REVIEW_RATING"/>
		<result property="rDate" column="REVIEW_DATE"/>
	</resultMap>
	

	<select id="checkUserReview" parameterType="Review" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE USER_NO= #{uNo}
		AND L_NO= #{lNo}
	</select>
	
	<select id="selectLessonReviewList" parameterType="_int" resultMap="lrResultset">
		SELECT R.*,M.USER_NAME,P.U_C_NAME
		FROM REVIEW R,MEMBER M,USERPROPIC P
		WHERE R.USER_NO = M.USER_NO
		AND R.USER_NO = P.USER_NO
		AND R.L_NO =#{lNo}
		ORDER BY 5 DESC
	</select>
	

	
	<insert id="insertReview" parameterType="Review">
	INSERT INTO REVIEW VALUES(#{lNo},#{uNo},#{rContent},#{rRating},SYSDATE)
	</insert>
	
	<select id="selectUReview" parameterType="Review" resultMap="rResultSet">
	SELECT * 
	FROM REVIEW
	WHERE USER_NO = #{uNo}
	AND L_NO = #{lNo}
	</select>
	
	<update id="updateReview" parameterType="Review">
	UPDATE REVIEW 
	SET REVIEW_CONTENT = #{rContent},
		REVIEW_RATING = #{rRating},
		REVIEW_DATE = SYSDATE
	WHERE USER_NO = #{uNo}
	AND L_NO = #{lNo}	
	</update>
	
	
	
	
	
	<!-- 수업 상세를 합치기 위한 처리 -->
	<resultMap id="tResultSet" type="Tutor">
		<id property="uNo" column="USER_NO"/>
		<result property="tNick" column="T_NICK"/>
		<result property="tCareer" column="T_CAREER"/>
		<result property="tInfo" column="T_INFO"/>
		<result property="tSocial" column="TSOCIAL"/>
		<result property="tStatus" column="TSTATUS"/>
	</resultMap>
	
	<resultMap type="LessonDetailInfo" id="ldiResultset">
		<id property="lNo" column="L_NO"/>
		<result property="lTitle" column="L_TITLE"/>
		<result property="lIntroduction" column="L_INTRODUCTION"/>
		<result property="lTarget" column="L_TARGET"/>
		<result property="lYtb" column="L_YTB"/>
		<result property="lRegion" column="L_REGION"/>
		<result property="lRegionSub" column="L_REGION_SUB"/>
		<result property="lRegionDetail" column="L_REGION_DETAIL"/>
		<result property="lCateMain" column="L_CATE_MAIN"/>
		<result property="lCateSub" column="L_CATE_SUB"/>
		<result property="lPrice" column="PRICE"/>
		<result property="lStatus" column="L_STATUS"/>
		<result property="uNo" column="USER_NO"/>
		<result property="uName" column="USER_NAME"/>
		<result property="ucName" column="U_C_NAME"/>
		<collection property="laList" resultMap="laResultSet" javaType="java.util.ArrayList" />
		<collection property="tutor" resultMap="tResultSet"/>
	</resultMap>
	
	<select id="selectLDI" resultMap="ldiResultset">
	SELECT I.*,A.*,T.*,M.USER_NAME,P.U_C_NAME
	FROM LESSON_INFO I, LESSON_ATTACHMENT A, TUTOR T, MEMBER M, USERPROPIC P
	WHERE I.L_NO = A.L_NO
	AND I.USER_NO = T.USER_NO
	AND T.USER_NO = M.USER_NO
	AND M.USER_NO =  T.USER_NO
	AND I.USER_NO = P.USER_NO
	AND I.L_NO=#{lNo}
	</select>
	
	
	
	
	<!-- 수업 신청 학생들 조회를 위한 처리 -->
	
	<resultMap type="Member" id="memberResultSet">
		<result property="user_no" column="USER_NO"/>
		<result property="user_id" column="USER_ID"/>
		<result property="user_pwd" column="USER_PWD"/>
		<result property="user_name" column="USER_NAME"/>
		<result property="gender" column="GENDER"/>
		<result property="age" column="AGE"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="enroll_date" column="ENROLL_DATE"/>
		<result property="update_date" column="UPDATE_DATE"/>
		<result property="user_type" column="USER_TYPE"/>
		<result property="uStatus" column="U_STATUS"/>
	</resultMap>
	
	
	<select id="selectStudents" parameterType="hashmap" resultMap="memberResultSet">
	SELECT M.*
	FROM MEMBER M,PAYMENT P
	WHERE M.USER_NO = P.USER_NO
	AND P.L_NO = ${lNo}
	AND P.L_INNING = ${lInning}
	AND P.PAYMENT_STATUS != 2 
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<select id="updatePT" statementType="CALLABLE">
	CALL PST()
	</select>
	
	



</mapper>

	